* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body_root {
    align-items: center;
    background-color:#d8f9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.root {
    align-items: center;
    display: flex;
    justify-content: center;
}